*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 65.5%; }

body {
  background-color: #DCC9B6;
  min-height: 100vh; }

ul {
  list-style-type: none; }

header {
  grid-area: header;
  background-color: #DCC9B6; }
  header .logo {
    display: flex;
    justify-content: center; }
  header .menu-icon, header #check {
    display: none; }
  header .menu a {
    text-decoration: none;
    color: black;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    font-size: 1.5rem; }
  header .dropdown {
    background-color: #ffffff9f;
    width: 50rem;
    height: 50rem;
    position: absolute;
    right: 25rem;
    transition: all 500ms ease-out;
    visibility: hidden;
    opacity: 0;
    z-index: 1; }
    header .dropdown ul {
      padding: 0; }
      header .dropdown ul h2 {
        border-bottom-style: solid;
        border-bottom-width: 0.1rem;
        border-color: #DCC9B6;
        padding: 1rem; }
        header .dropdown ul h2 a {
          color: #a37a52;
          font-size: 2rem; }
    header .dropdown a {
      color: #a37a52;
      font-size: 1.2rem;
      padding: 0; }
    header .dropdown li {
      border-color: #dfdddd;
      margin-left: 1rem;
      padding-right: 10rem;
      padding: 0.1rem; }
  header .menu > ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0; }
    header .menu > ul a:hover {
      color: #6D4C3D;
      transition: all 500ms ease-out; }
    header .menu > ul li:hover > .dropdown {
      visibility: visible;
      opacity: 1;
      transition: all 500ms ease-out;
      z-index: 1; }
  @media (max-width: 400px) {
    header .checkbtn {
      display: block;
      width: 100%;
      height: 15vh; }
    header .menu-icon {
      display: block;
      position: fixed;
      top: 2rem;
      left: 2.5rem;
      cursor: pointer; }
      header .menu-icon img {
        width: 10rem;
        height: 10rem; }
    header .menu {
      width: 100%; }
      header .menu ul {
        display: block;
        position: fixed;
        top: 7rem;
        left: -100%;
        background-color: #755242;
        width: 100%;
        height: 300vh;
        right: 0;
        z-index: 1; }
        header .menu ul li {
          padding: 2rem;
          display: flex;
          justify-content: center;
          margin: 0; }
          header .menu ul li a {
            color: #ffffff;
            font-size: 3rem; }
    header #check:checked ~ ul {
      left: 0;
      transition: all .25s; }
    header .logo img {
      width: 100%; } }

.container {
  display: grid;
  grid-template-areas: 'header' 'files' 'subtitle' 'arrivals' 'ad' 'footer'; }

.files {
  grid-area: files; }
  .files .containerfiles {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem; }
  .files .file figure {
    position: relative;
    width: 56.4rem;
    height: 70rem; }
    .files .file figure img {
      width: 100%;
      height: 100%;
      transition: all 500ms ease-out; }
    .files .file figure .layer {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: #5352527b;
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
      .files .file figure .layer p {
        margin-top: 2rem;
        color: #ffffff;
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: 2rem; }
    .files .file figure:hover > .layer {
      opacity: 1;
      visibility: visible; }

.file__two figure {
  position: relative;
  width: 56.4rem;
  height: 70rem; }
  .file__two figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out; }
  .file__two figure .layer__two {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #5352527b;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; }
    .file__two figure .layer__two p {
      margin-top: 2rem;
      color: #ffffff;
      font-family: "Be Vietnam Pro", sans-serif;
      font-size: 2rem; }
  .file__two figure:hover > .layer__two {
    opacity: 1;
    visibility: visible; }

.subtitle {
  grid-area: subtitle;
  color: #ffffff; }
  .subtitle h2 {
    font-family: "Roboto", sans-serif;
    font-size: 10rem;
    text-align: center;
    padding: 3rem;
    margin: 0; }

.arrivals {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  grid-area: arrivals;
  width: 100%; }
  .arrivals h3 {
    font-size: 2rem; }

.ad {
  grid-area: ad;
  display: flex;
  justify-content: center;
  padding: 1rem; }

@media (max-width: 400px) {
  .containerfiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem; }
    .containerfiles .file figure {
      position: relative;
      width: auto;
      height: auto; }
      .containerfiles .file figure img {
        max-width: 100%;
        max-height: 100%;
        width: 55rem; }
      .containerfiles .file figure .file {
        display: none; }
    .containerfiles .file__two {
      display: none; }
  .subtitle h2 {
    font-size: 10rem; }
  .arrivals {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .arrivals img {
      max-width: 100%;
      max-height: 100%;
      width: 50rem; }
      .arrivals img h3 {
        font-size: 2rem; }
  .ad {
    display: flex;
    justify-content: center; }
    .ad img {
      width: 48rem; } }

.container__nosotras {
  display: grid;
  grid-template-areas: "header" "img" "text" "footer";
  font-family: "Be Vietnam Pro", sans-serif; }
  .container__nosotras header {
    grid-area: header; }
  .container__nosotras .img {
    grid-area: img;
    display: flex;
    justify-content: center; }
    .container__nosotras .img img {
      box-shadow: 7px 3px 30px 0 #a37a52;
      margin: 2.7rem 0.8rem; }
  .container__nosotras .text {
    grid-area: text;
    margin: 5rem; }
    .container__nosotras .text > h2 {
      font-size: 3rem;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .container__nosotras .text p {
      font-size: 2rem;
      text-align: right;
      margin-top: 1rem;
      margin-bottom: 1rem; }

.sign {
  font-weight: 100;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: right; }

.container__nosotras footer {
  grid-area: footer; }

@media (max-width: 400px) {
  .img img {
    box-shadow: 7px 3px 30px 0 #a37a52;
    margin: 27px 8px;
    width: 31rem; }
  .text {
    margin: 1rem; }
    .text > h2 {
      font-size: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .text p {
      font-size: 2rem;
      text-align: right;
      margin-top: 1rem;
      margin-bottom: 1rem; }
  .sign {
    font-weight: 100;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: right; } }

.container__tienda {
  display: grid;
  grid-template-areas: 'header header' 'aside section' 'aside section' 'aside section' 'footer footer'; }
  .container__tienda .header {
    grid-area: header; }
  .container__tienda .aside {
    grid-area: aside;
    margin-left: 2rem;
    border: 1px solid #a37a52;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 20rem; }
    .container__tienda .aside h2 {
      margin: 0.5rem;
      border-bottom: 1px solid #a37a52;
      font-size: 2.7rem;
      font-weight: 300; }
    .container__tienda .aside ul {
      padding: 0; }
      .container__tienda .aside ul li {
        margin-left: 0.7rem;
        font-size: 1.7rem; }
        .container__tienda .aside ul li a {
          text-decoration: none;
          color: #000000;
          font-size: 1.7rem; }
        .container__tienda .aside ul li > a:hover {
          transition: all 500ms ease-out;
          color: #6D4C3D; }
  .container__tienda section {
    background-color: #c5af99; }
    .container__tienda section .title-section h3 {
      border-bottom: 3px dotted #a37a52;
      margin: 1rem;
      font-family: "Roboto", sans-serif;
      font-size: 3rem;
      color: #ffffff; }
    .container__tienda section .section {
      grid-area: section;
      margin: 1rem;
      font-family: "Be Vietnam Pro", sans-serif;
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      font-size: 5rem; }
      .container__tienda section .section a {
        text-decoration: none;
        color: #000000; }
        .container__tienda section .section a:hover {
          color: #6D4C3D;
          transition: all 500ms ease-out; }
  .container__tienda footer {
    grid-area: footer;
    max-width: 100%; }

@media (max-width: 400px) {
  .container__tienda {
    display: grid;
    grid-template-areas: 'header' 'section' 'section' 'section' 'footer'; }
    .container__tienda .header {
      grid-area: header; }
    .container__tienda section {
      display: flex;
      flex-direction: column; }
      .container__tienda section .section {
        margin-left: 0; }
  .aside {
    display: none; } }

.container__contacto {
  display: grid;
  grid-template-areas: 'header header' 'section section' 'footer footer';
  font-family: "Be Vietnam Pro", sans-serif; }
  .container__contacto .header {
    grid-area: header; }
  .container__contacto .text__contacto h2 {
    border-bottom: 1px solid #a37a52;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    margin-left: 0.5rem;
    margin-top: 2rem;
    font-size: 2rem; }
  .container__contacto .text__form {
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container__contacto .text__form p {
      font-size: 2.4rem;
      text-align: center; }
    .container__contacto .text__form .one {
      font-size: 3.2rem;
      margin-top: 2rem; }
    .container__contacto .text__form .two {
      font-size: 1.8rem; }
    .container__contacto .text__form .three {
      font-size: 1.6rem;
      margin: 1rem; }
  .container__contacto .form {
    height: 50rem; }
    .container__contacto .form ::placeholder {
      color: #a37a52; }
    .container__contacto .form form {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 50rem;
      gap: 1rem; }
    .container__contacto .form input {
      height: 4rem;
      font-size: 2rem;
      font-family: "Be Vietnam Pro", sans-serif; }
      .container__contacto .form input:focus {
        outline: none;
        border: 2px solid #6D4C3D; }
    .container__contacto .form textarea {
      width: 50rem;
      height: 20rem;
      font-family: "Be Vietnam Pro", sans-serif;
      margin-top: 1.2rem;
      font-size: 2rem; }
      .container__contacto .form textarea:focus {
        outline: none;
        border: 2px solid #6D4C3D; }
  .container__contacto .btn {
    width: 20rem;
    height: 10rem; }
  .container__contacto footer {
    grid-area: footer; }

@media (max-width: 400px) {
  .form form {
    width: 40rem;
    gap: 1rem; }
  .form input {
    height: 4rem; }
  .form textarea {
    width: 40rem;
    height: 10rem;
    margin-top: 1.2rem; } }

.container__notfound {
  display: grid;
  grid-template-areas: 'header header' 'ad ad' 'notice notice' 'footer footer';
  font-family: "Be Vietnam Pro", sans-serif; }
  .container__notfound .header {
    grid-area: header; }
  .container__notfound .notfound {
    grid-area: ad;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .container__notfound .notfound img {
      margin: 1.5rem;
      width: 20rem;
      height: 20rem; }
    .container__notfound .notfound h2 {
      margin: 1rem;
      margin-bottom: 2rem;
      font-size: 3rem; }
    .container__notfound .notfound p {
      font-size: 2rem; }
  .container__notfound .warning__opcion {
    grid-area: notice;
    margin: 1rem;
    margin-bottom: 4.5rem;
    display: flex;
    justify-content: space-evenly; }
    .container__notfound .warning__opcion h2 {
      font-weight: 100;
      text-align: center;
      color: #000000;
      font-size: 2rem; }
  .container__notfound footer {
    grid-area: footer; }
  @media (max-width: 400px) {
    .container__notfound .notfound img {
      width: 30rem;
      height: 30rem; }
    .container__notfound .notfound .warning h2 {
      font-size: 2rem; }
    .container__notfound .notfound .warning p {
      font-size: 1.5rem; }
    .container__notfound .warning__opcion {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container__notfound .warning__opcion h2 {
        font-size: 2rem;
        color: #000000;
        text-align: center; } }

.container__article {
  display: grid;
  grid-template-areas: 'header header' 'pic info' 'ad ad' 'footer footer'; }
  .container__article header {
    grid-area: header; }
  .container__article .pic {
    grid-area: pic;
    margin: 1rem; }
    .container__article .pic img {
      margin-left: 10rem; }
  .container__article .description {
    grid-area: info;
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 2rem 0;
    margin-right: 50rem; }
    .container__article .description h2 {
      font-size: 3rem; }
    .container__article .description p {
      font-size: 2rem; }
    .container__article .description .title__descrp {
      margin: 0; }
    .container__article .description .subtitle__descrp {
      margin: 1rem 0; }
    .container__article .description input {
      width: 15rem;
      height: 4rem;
      font-size: 1.5rem; }
  .container__article .ad__article {
    grid-area: ad;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-top: 5rem; }
    .container__article .ad__article h2 {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 1rem; }
    .container__article .ad__article .files__article {
      display: flex;
      justify-content: space-evenly; }
  .container__article footer {
    grid-area: footer; }

@media (max-width: 3400px) {
  .container__article {
    display: grid;
    grid-template-areas: 'header' 'pic' 'info' 'ad' 'footer'; }
    .container__article header {
      grid-area: header; }
    .container__article .pic {
      grid-area: pic;
      margin-left: 0.3rem;
      padding: 2.5rem;
      width: 32rem; }
      .container__article .pic img {
        width: 100%;
        height: 100%;
        margin: 0; }
    .container__article .description {
      grid-area: info;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0; }
      .container__article .description input {
        font-size: 1.5rem; }
    .container__article .ad__article {
      grid-area: ad; }
      .container__article .ad__article .files__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem; }
    .container__article footer {
      grid-area: footer; } }

footer .box {
  grid-area: footer;
  background-color: #6D4C3D;
  color: #ffffff;
  font-family: "Be Vietnam Pro", sans-serif; }
  footer .box .box {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    width: 100%; }
    footer .box .box a {
      text-decoration: none;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 100; }
    footer .box .box h2 {
      font-size: 2rem;
      font-weight: 300; }
    footer .box .box .us p {
      margin: 0;
      font-size: 1.5rem; }
    footer .box .box .us .social {
      margin: 2rem 0;
      padding: 0; }
      footer .box .box .us .social picture {
        display: inline-flex;
        flex-direction: row;
        gap: 1rem;
        width: 2.5rem;
        height: 2.5rem; }
    footer .box .box .categories {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      footer .box .box .categories h2 {
        margin: 0; }
      footer .box .box .categories ul {
        padding: 0; }
    footer .box .box .resume {
      text-align: right; }
      footer .box .box .resume li {
        font-size: 1.5rem; }

@media (max-width: 400px) {
  .box {
    display: flex;
    flex-direction: column; }
    .box .us {
      margin: 1rem; }
      .box .us h2 {
        font-size: 2rem; }
      .box .us p {
        font-size: 2rem; }
      .box .us a {
        font-size: 2rem; }
  .categories {
    position: absolute;
    visibility: hidden; }
  .resume {
    margin: 1rem;
    font-size: 2rem;
    right: 10rem; } }
