*::before
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  background-color: #DCC9B6;
  font-size: 100%; }

ul {
  list-style-type: none; }

header {
  grid-area: header;
  background-color: #DCC9B6; }
  header .logo {
    display: flex;
    justify-content: center; }
  header .menu-icon, header #check {
    display: none; }
  header .menu a {
    text-decoration: none;
    color: black;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 300; }
  header .dropdown {
    background-color: #ffffff9f;
    width: 600px;
    height: 760px;
    position: absolute;
    right: 250px;
    transition: all 500ms ease-out;
    visibility: hidden;
    opacity: 0;
    z-index: 1; }
    header .dropdown ul {
      padding: 0; }
      header .dropdown ul h2 {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: #DCC9B6;
        padding-left: 10px;
        padding-bottom: 15px; }
        header .dropdown ul h2 a {
          color: #a37a52;
          font-size: 18px; }
    header .dropdown a {
      color: #a37a52;
      font-size: 12x;
      padding: 0; }
    header .dropdown li {
      border-color: #dfdddd;
      margin-left: 10px;
      padding-right: 100px;
      padding: 1px; }
  header .menu > ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0; }
    header .menu > ul a:hover {
      color: #6D4C3D;
      transition: all 500ms ease-out; }
    header .menu > ul li:hover > .dropdown {
      visibility: visible;
      opacity: 1;
      transition: all 500ms ease-out;
      z-index: 1; }
  @media (max-width: 768px) {
    header .checkbtn {
      display: block;
      width: 100%;
      height: 15vh; }
    header .menu-icon {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      cursor: pointer; }
    header .menu ul {
      display: block;
      position: fixed;
      top: 70px;
      left: -100%;
      background-color: #755242;
      width: 100%;
      height: 100vh;
      right: 0;
      z-index: 2; }
      header .menu ul li {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0; }
        header .menu ul li a {
          color: #ffffff; }
    header #check:checked ~ ul {
      left: 0;
      transition: all .25s; } }

.container {
  display: grid;
  grid-template-areas: 'header header header' 'files files files' 'subtitle subtitle subtitle' 'arrivals arrivals arrivals' 'ad ad ad ' 'footer footer footer'; }

.files {
  grid-area: files; }
  .files .containerfiles {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; }
  .files .file figure {
    position: relative;
    width: 564px;
    height: 700px; }
    .files .file figure img {
      width: 100%;
      height: 100%;
      transition: all 500ms ease-out; }
    .files .file figure .layer {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: #5352527b;
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
      .files .file figure .layer p {
        margin-top: 20px;
        color: #ffffff;
        font-family: "Be Vietnam Pro", sans-serif; }
    .files .file figure:hover > .layer {
      opacity: 1;
      visibility: visible; }

.file__two figure {
  position: relative;
  width: 564px;
  height: 700px; }
  .file__two figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out; }
  .file__two figure .layer__two {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #5352527b;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; }
    .file__two figure .layer__two p {
      margin-top: 20px;
      color: #ffffff;
      font-family: "Be Vietnam Pro", sans-serif; }
  .file__two figure:hover > .layer__two {
    opacity: 1;
    visibility: visible; }

.subtitle {
  grid-area: subtitle;
  color: #ffffff; }
  .subtitle h2 {
    font-family: "Roboto", sans-serif;
    font-size: 100px;
    text-align: center;
    padding: 30px;
    margin: 0; }

.arrivals {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  grid-area: arrivals;
  width: 100%; }

.ad {
  grid-area: ad;
  display: flex;
  justify-content: center;
  padding: 10px; }

.container__nosotras {
  display: grid;
  grid-template-areas: "header header" "img img" "text text" "footer footer";
  font-family: "Be Vietnam Pro", sans-serif; }
  .container__nosotras header {
    grid-area: header; }
  .container__nosotras .img {
    grid-area: img;
    display: flex;
    justify-content: center; }
    .container__nosotras .img img {
      box-shadow: 7px 3px 30px 0 #a37a52;
      margin: 27px 8px; }
  .container__nosotras .text {
    grid-area: text;
    margin: 50px; }
  .container__nosotras > h2 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .container__nosotras > h2 p {
      text-align: right;
      margin-top: 0,625em;
      margin-bottom: 0,625em; }
  .container__nosotras .sign {
    font-weight: 100;
    font-size: 12px;
    margin-top: 0,83em;
    margin-bottom: 0,83em;
    text-align: right; }
  .container__nosotras .container__nosotras footer {
    grid-area: footer; }

.container__tienda {
  display: grid;
  grid-template-areas: 'header header' 'aside section' 'aside section' 'aside section' 'footer footer'; }
  .container__tienda .header {
    grid-area: header; }
  .container__tienda .aside {
    grid-area: aside;
    margin-left: 20px;
    border: 1px solid #a37a52;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 200px; }
    .container__tienda .aside h2 {
      margin: 5px;
      border-bottom: 1px solid #a37a52;
      font-size: 27px; }
    .container__tienda .aside ul {
      padding: 0; }
      .container__tienda .aside ul li {
        margin-left: 5px; }
        .container__tienda .aside ul li a {
          text-decoration: none;
          color: #000000; }
        .container__tienda .aside ul li > a:hover {
          transition: all 500ms ease-out;
          color: #6D4C3D; }
  .container__tienda .section {
    grid-area: section;
    margin-left: 10px;
    background-color: #c5af99;
    font-family: "Be Vietnam Pro", sans-serif; }
    .container__tienda .section h3 {
      border-bottom: 3px dotted #a37a52;
      margin: 10px; }
  .container__tienda .files__tienda {
    display: flex;
    justify-content: space-around; }
  .container__tienda .text__tienda {
    display: flex;
    justify-content: space-around; }
    .container__tienda .text__tienda a {
      text-decoration: none;
      color: #000000; }
      .container__tienda .text__tienda a:hover {
        color: #6D4C3D;
        transition: all 500ms ease-out; }
  .container__tienda .price {
    display: flex;
    justify-content: space-around; }
  .container__tienda footer {
    grid-area: footer; }

.container__contacto {
  display: grid;
  grid-template-areas: 'header header' 'section section' 'footer footer';
  font-family: "Be Vietnam Pro", sans-serif; }
  .container__contacto .header {
    grid-area: header; }
  .container__contacto .text__form {
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container__contacto .text__form p {
      font-size: 24px;
      text-align: center; }
    .container__contacto .text__form .one {
      font-size: 32px;
      margin-top: 20px; }
    .container__contacto .text__form .two {
      font-size: 18px; }
    .container__contacto .text__form .three {
      font-size: 16px;
      margin: 10px; }
  .container__contacto .text__contacto h2 {
    border-bottom: 1px solid #a37a52;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    margin-left: 5px;
    margin-top: 20px; }
  .container__contacto .form {
    height: 500px; }
    .container__contacto .form ::placeholder {
      color: #a37a52; }
    .container__contacto .form form {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 500px;
      gap: 10px; }
    .container__contacto .form input {
      height: 40px;
      font-size: 16px;
      font-family: "Be Vietnam Pro", sans-serif; }
      .container__contacto .form input:focus {
        outline: none;
        border: 2px solid #6D4C3D; }
    .container__contacto .form textarea {
      width: 500px;
      height: 200px;
      font-family: "Be Vietnam Pro", sans-serif;
      margin-top: 12px; }
      .container__contacto .form textarea:focus {
        outline: none;
        border: 2px solid #6D4C3D; }
  .container__contacto .btn {
    width: 200px;
    height: 100px; }
  .container__contacto footer {
    grid-area: footer; }

.container__notfound {
  display: grid;
  grid-template-areas: 'header header' 'ad ad' 'notice notice' 'footer footer';
  font-family: "Be Vietnam Pro", sans-serif; }
  .container__notfound .header {
    grid-area: header; }
  .container__notfound .notfound {
    grid-area: ad;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .container__notfound .notfound img {
      margin: 15px;
      width: 200px;
      height: 200px; }
  .container__notfound .warning__opcion {
    grid-area: notice;
    margin: 10px;
    margin-bottom: 45px; }
  .container__notfound .files__tienda {
    display: flex;
    justify-content: space-around; }
  .container__notfound .text__tienda {
    display: flex;
    justify-content: space-around; }
  .container__notfound .price {
    display: flex;
    justify-content: space-around;
    gap: 10px; }
  .container__notfound h2 {
    margin: 10px;
    margin-bottom: 20px; }
  .container__notfound footer {
    grid-area: footer; }

.container__article {
  display: grid;
  grid-template-areas: 'header header' 'pic info' 'ad ad' 'footer footer'; }
  .container__article header {
    grid-area: header; }
  .container__article .pic {
    grid-area: pic; }
    .container__article .pic img {
      margin-left: 100px; }
  .container__article .description {
    grid-area: info;
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 20px 0;
    margin-right: 500px; }
    .container__article .description h2 {
      font-size: 40px; }
    .container__article .description .title__descrp {
      margin: 0; }
    .container__article .description .subtitle__descrp {
      margin: 10px 0; }
    .container__article .description input {
      width: 150px;
      height: 40px; }
  .container__article .ad__article {
    grid-area: ad;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-top: 50px; }
    .container__article .ad__article h2 {
      text-align: center; }
    .container__article .ad__article .files__article {
      display: flex;
      justify-content: space-evenly; }
    .container__article .ad__article .title__article {
      display: flex;
      justify-content: space-around; }
    .container__article .ad__article .price__article {
      display: flex;
      justify-content: space-around; }
  .container__article footer {
    grid-area: footer; }

footer .box {
  grid-area: footer;
  background-color: #6D4C3D;
  color: #ffffff;
  font-family: "Be Vietnam Pro", sans-serif; }
  footer .box .box {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 100; }
    footer .box .box a {
      text-decoration: none;
      color: #ffffff;
      font-size: 15px;
      font-weight: 100; }
    footer .box .box h2 {
      font-size: 20px;
      font-weight: 300; }
    footer .box .box .us p {
      margin: 0; }
    footer .box .box .us .social {
      margin: 20px 0;
      padding: 0; }
      footer .box .box .us .social picture {
        display: inline-flex;
        flex-direction: row;
        gap: 10px;
        width: 25px;
        height: 25px; }
    footer .box .box .categories {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      footer .box .box .categories h2 {
        margin: 0; }
      footer .box .box .categories ul {
        padding: 0; }
    footer .box .box .resume {
      text-align: right; }
