$font: 'Be Vietnam Pro', sans-serif;
$second-font: 'Source Sans Pro', sans-serif;
$third-font: 'Roboto', sans-serif;
$color-font: #000000;
$body-background: #DCC9B6;
$transition: all 500ms ease-out;
$second-color: #ffffff;
$third-color: #6D4C3D;

