@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}
:root{
    --font: 'Be Vietnam Pro', sans-serif;
}
.container{
    margin: 0 auto;
}

html{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-color: #DCC9B6;
}
ul{
    list-style-type: none;
    padding-left: 0%;
}





/* HEADER */

header{
    background-color: #DCC9B6;
}

.logo{
    display: flex;
    justify-content: center;

}
.menu a{
    text-decoration: none;
    color: black;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 300;
}
.dropdown{
    background-color: #ffffffa1;
    width: 500px;
    height: 650px;
    position: absolute;
    right: 250px;
    transition: all 500ms ease-out;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.dropdown h2{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #DCC9B6;
    height: 35px;
    padding: 5px;
}
.dropdown h2 a {
    color: #a37a52;
    font-size: 16px;
}

.dropdown a{
    color: #a37a52;
    font-size: 10px;
}

.dropdown li{
    border-color: #dfdddd;
    margin-left: 10px;

}

.menu>ul {
    display: flex;
    justify-content: space-around;
}

.menu a:hover{
    color: #6D4C3D;
    transition: all 500ms ease-out;
    
}


.menu li:hover > .dropdown {
    visibility: visible;
    opacity: 1;
    transition: all 500ms ease-out;
    z-index: 1;
}





/* FILES */

.file figure{
    position: relative;
    width: 564px;
    height: 700px;
}
.file figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.file figure .layer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #5352527b;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.file figure .layer p{
    margin-top: 20px;
    color: #ffffff;
    font-family:'Be Vietnam Pro', sans-serif;
}
.file figure:hover > .layer{
    opacity: 1;
    visibility: visible;

}





.file__two figure{
    position: relative;
    width: 564px;
    height: 700px;

}
.file__two figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.file__two figure .layer__two{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #5352527b;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.file__two figure .layer__two p{
    margin-top: 20px;
    color: #ffffff;
    font-family:'Be Vietnam Pro', sans-serif;
}
.file__two figure:hover > .layer__two{
    opacity: 1;
    visibility: visible;

}

.containerfiles{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}



/* SUBTITLE*/

.subtitle {
    color: #ffffff;
}

.subtitle h2{
    font-family: 'Roboto', sans-serif;
    font-size: 100px; 
    text-align: center;
    padding: 30px;
}

/* OPCIONES */

.arrivals{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}


/* AD */

.ad {
    display: flex;
    justify-content: center;
    padding: 10px;
}






/* FOOTER */

footer {
    background-color: #6D4C3D;
    color: #ffffff;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.box a {
    margin: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
}

.box {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 100;
}

.box h2 {
    font-size: 20px;
}

.box h4{
    font-size: 15px;
    font-weight: 100;
}






/* SECCION 'NOSOTRAS */
/* US */

.container__nosotras{
    box-sizing: content-box;
    width: 100%;
    margin: 0 auto;
    display: grid;

    grid-template-areas: "header header header header"
                         "img img img img"
                         "text text text text"
                         "footer footer footer footer";
    
    font-family: 'Be Vietnam Pro', sans-serif;

}


.container__nosotras header{
    grid-area: header;
}



.container__nosotras .img{
    grid-area: img;
    display: flex;
    justify-content: center;
}

.container__nosotras .img img{
    box-shadow: 7px 3px 30px 0 #a37a52 ;
    margin: 27px 8px;

    
}




.container__nosotras .text{
    grid-area: text;
    margin: 50px;
}

.container__nosotras .text>h2{
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container__nosotras .text p{
    text-align: right;
    margin-top: 0,625em;
    margin-bottom: 0,625em;
}

.container__nosotras .sign {
    font-weight: 100;
    font-size: 12px;
    margin-top: 0,83em;
    margin-bottom: 0,83em;
    text-align: right;

}

.container__nosotras .footer {
    grid-area: footer;
}


/* TIENDA */

.container__tienda{
    display: grid;
    grid-template-areas: 'header header header header'
                        'aside section section section'
                        'aside section section section'
                        'aside section section section'
                        'footer footer footer footer' ;
}

.header{
    grid-area: header;
}

.aside{
    grid-area: aside;
    margin-left: 20px;
    border: 1px solid #a37a52;
    font-family: var(--font);
    margin-bottom: 200px;
}
.aside h2{
    margin: 5px;
    border-bottom:1px solid #a37a52;
    font-size: 27px;
}

.aside li{
    margin-left: 5px;

}

.aside li a{
    text-decoration: none;
    color: #000000;
}

.aside li>a:hover{
    transition: all 500ms ease-out;
    color: #6D4C3D;
}

.section{
    grid-area: section;
    margin-left: 10px;
    background-color: #c5af99;
    font-family: var(--font);

}
.files__tienda{
    display: flex;
    justify-content: space-around;
}
.text__tienda{
    display: flex;
    justify-content: space-around;
}

.price{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.section h3{
    border-bottom: 3px dotted #a37a52;
    margin: 10px;
}

.footer{
    grid-area: footer;
}




/* CONTACTO */

.container__contacto{
    display: grid;
    grid-template-areas: 'header header header header'
                         'section section section section'
                         'footer footer footer footer';
    font-family: var(--font);
    margin: 0 auto;
}

.header{
    grid-area: header;
}

.text__form{
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text__form p{
    font-size: 24px;
    text-align: center;
}

.text__form .one{
    font-size: 32px;
    margin-top: 20px;
}
.text__form .two{
    font-size: 18px;
}
.text__form .three{
    font-size: 16px;
    margin: 10px;
}
.text__contacto h2{
    border-bottom: 1px solid #a37a52;
    font-family: var(--font);
    font-weight: 300;
    margin-left: 5px;
    margin-top: 20px ;
}

.form{
    height: 500px;
}

.form ::placeholder{
    color: #a37a52;
}


.form form{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 500px;   
    gap: 10px;
}

.form input{
    height: 40px;
    font-size: 16px;
    font-family: var(--font);
}
input:focus{
    outline: none;
    border: 2px solid #6D4C3D;
}

.form textarea{
    width: 500px;
    height: 200px;
    font-family: var(--font);
    margin-top: 12px;
}
.form textarea:focus{
    outline: none;
    border: 2px solid #6D4C3D;
}
.btn{
    width: 200px;
    height: 100px;
}


.footer{
    grid-area: footer;
}





/* NOT FOUND */

.container__notfound{
    display: grid;
    grid-template-areas: 'header header header header'
                         'ad ad ad ad'
                         'notice notice notice notice'
                         'footer footer footer footer';
    font-family: var(--font);
}

.header{
    grid-area: header;
}

.notfound{
    grid-area: ad;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.notfound img{
    margin: 15px;
    width: 200px;
    height: 200px;
}

.warning__opcion{
    grid-area: notice;
    margin: 10px;
    margin-bottom: 45px;
}

.warning__opcion h2 {
    margin: 10px;
    margin-bottom: 20px;
}

.footer{
    grid-area: footer;
}