*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 65.5%;


}
body{
    background-color: $body-background;
    min-height: 100vh;
}

ul{
    list-style-type: none;
}




