footer {
    .box{
        grid-area: footer;
        background-color: $third-color;
        color: $second-color;
        font-family: $font;
    
        .box {
            display: flex;
            justify-content: space-around;
            padding-top: 1rem;
            font-size: 1.5rem;
            font-weight: 100;
            width: 100%;
    
            a {
                text-decoration: none;
                color: $second-color;
                font-size: 1.5rem;
                font-weight: 100;
            }
    
            h2 {
                font-size: 2rem;
                font-weight: 300;
            }
    
    
            .us{
    
                p{
                    margin: 0;
                    font-size: 1.5rem;
                }
    
                .social{
                    margin: 2rem 0;
                    padding: 0;
                
                    picture{
                        display: inline-flex;
                        flex-direction: row;
                        gap: 1rem;
                        width: 2.5rem;
                        height: 2.5rem;
    
                        
                    }
                
                }
            }
    
            .categories{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
    
                h2{
                    margin: 0;
                }
    
                ul{
                    padding: 0;
                }
    
            }
    
            .resume{
                text-align: right;

                li{
                    font-size: 1.5rem; 
                }
    
            }
        }

    }
   
}

@media (max-width: 320px){
    .box{
        display: flex;
        flex-direction: column;

        .us{
            margin: 1rem;

            h2{
                font-size: 2rem;
            }

            p{
                font-size: 2rem

            }

                a{
                    font-size: 2rem; 
                }

            }

        }

        .categories{
            position: absolute;
            visibility: hidden;
        }
        .resume{
            margin: 1rem;
            font-size: 2rem;
            right: 10rem;

        }
    }
