.container__contacto{
    display: grid;
    grid-template-areas: 'header header'
                         'section section'
                         'footer footer';
    font-family: $font;

    .header{
        grid-area: header;
    }

    .text__contacto h2{
        border-bottom: 1px solid #a37a52;
        font-family: $font;
        font-weight: 300;
        margin-left: 0.5rem;
        margin-top: 2rem ;
        font-size: 2rem;
    }
    
    .text__form{
        grid-area: section;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-size: 2.4rem;
            text-align: center;
        }

        .one{
            font-size: 3.2rem;
            margin-top: 2rem;
        }

        .two{
            font-size: 1.8rem;
        }
        .three{
            font-size: 1.6rem;
            margin: 1rem;
        }
    }

    .form{
        height: 50rem;

        & ::placeholder{
            color: #a37a52;
        }

        form{
            display: flex;
            flex-direction: column;
            align-content: center;
            width: 50rem;   
            gap: 1rem;
        }

        input{
            height: 4rem;
            font-size: 2rem;
            font-family: $font;

            &:focus{
                outline: none;
                border: 2px solid #6D4C3D;
            }
        }

        textarea{
            width: 50rem;
            height: 20rem;
            font-family: $font;
            margin-top: 1.2rem;
            font-size: 2rem;

            &:focus{
                outline: none;
                border: 2px solid #6D4C3D;
            }
        }
    }

    .btn{
        width: 20rem;
        height: 10rem;
    }

    footer{
        grid-area: footer;
    }
    
}

@media (max-width: 450px){
    .form{

        form{
            width: 40rem;   
            gap: 1rem;
        }

        input{
            height: 4rem;
        }

        textarea{
            width: 40rem;
            height: 10rem;
            margin-top: 1.2rem;
        }
    }

}