.container__notfound{
    display: grid;
    grid-template-areas: 'header header'
                         'ad ad'
                         'notice notice'
                         'footer footer';
    font-family: $font;

    .header{
        grid-area: header;
    }

    .notfound{
        grid-area: ad;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img{
            margin: 1.5rem;
            width: 20rem;
            height: 20rem;
        }

        h2 {
            margin: 1rem;
            margin-bottom: 2rem;
            font-size: 3rem;
        }

        p{
            font-size: 2rem;
        }
    }

    .warning__opcion{
        grid-area: notice;
        margin: 1rem;
        margin-bottom: 4.5rem;
        display: flex;
        justify-content: space-evenly;

        h2{
            font-weight: 100;
            text-align: center;
            color: $color-font;
            font-size: 2rem;
        }
    }

    footer{
        grid-area: footer;
    }

    @media (max-width: 320px) {
        .notfound{

            img{
                width: 30rem;
                height: 30rem;
            }

            .warning{

                h2{
                    font-size: 2rem;
                }

                p{
                    font-size: 1.5rem;
                }
            }

        }

        .warning__opcion{

            display: flex;
            flex-direction: column;
            align-items: center;
        
            h2{
                font-size: 2rem;
                color: $color-font;
                text-align: center;

        }
        
    }
}
}
