.container__tienda{
    display: grid;
    grid-template-areas: 'header header'
                        'aside section'
                        'aside section'
                        'aside section'
                        'footer footer';

     .header{
     grid-area: header;
    }

    .aside{
        grid-area: aside;
        margin-left: 2rem;
        border: 1px solid #a37a52;
        font-family: $font;
        margin-bottom: 20rem;

        h2{
            margin: 0.5rem;
            border-bottom:1px solid #a37a52;
            font-size: 2.7rem;
            font-weight: 300;
        }

        ul{
            padding: 0;

        
        li{
            margin-left: 0.7rem;
            font-size: 1.7rem;
        
            a{
                text-decoration: none;
                color: #000000;
                font-size: 1.7rem;
            }

            &>a:hover{
                transition: all 500ms ease-out;
                color: #6D4C3D;
            }
        }
    }
    }

    section{
        background-color: #c5af99;

    .title-section{


    
    h3{
        border-bottom: 3px dotted #a37a52;
        margin: 1rem;
        font-family: $third-font;
        font-size: 3rem;
        color: $second-color;
    }
}
    .section{
        grid-area: section;
        margin: 1rem;
        font-family: $font;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        font-size: 5rem;

        & a{
            text-decoration: none;
            color: #000000;

            &:hover{
                color: #6D4C3D;
                transition: $transition;

            }
        }
    }
}

    footer{
        grid-area: footer;
        max-width: 100%;
    }
                        
}

@media (max-width:400px){
    .container__tienda{
        display: grid;
        grid-template-areas: 'header'
                            'section'
                            'section'
                            'section'
                            'footer';
    
         .header{
         grid-area: header;
         }

         section{
            display: flex;
            flex-direction: column;
    
            .section{
                margin-left: 0;
            }
        }
    }

    .aside{
        display: none;
    }
  }


